* {
    font-family: 'Montserrat', sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;

}

.link-header {
    font-weight: 600;
    font-size: 24px ;
    line-height: 29px ;
    color: #999d9c;
    cursor: pointer;
    margin-right: 23px;
}

.logo {
    width: 500px;
    height: 500px ;
    margin-left: 125px;
    display: inline-block;
}

.botao-header {
    background-color: #665AE1;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    border-radius: 50px;
    width: 130px;
    height: 41px;
    border: none;
    line-height: 29px;
    cursor: pointer;
    box-shadow: 0px 10px 10px 0px #00000040;
}

div {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 177px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.botao-texto {
    background-color: #adff00;
    color: #000000;
    border: none;
    border-radius: 50px;
    width: 240px;
    height: 64px;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    cursor: pointer;
    box-shadow: 0px 10px 10px 0px #00000040;
}

@media (max-width: 500px) {
    .botao-texto { background: pink;}

    .logo { width: 50vh;
    align-items: center;
    margin-left: 50px;
    }

    .link-header {
        font-size: 15px;
        line-height: 10px;
        align-items: center;
        margin-right: 2px;

    }

    .botao-header {
        width: 60px;
        font-weight: 10;
        font-size: 15px;
        border-radius: 5px;
        align-items: center;
        margin-top: 10px;
     
       
    }
}

